<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>49456625906-dv2dc0tkhnafk9bur8b2iov9vgn5c3uu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBe8VwkhefJAbxdipp6geMESHfTAemLZYo</string>
	<key>GCM_SENDER_ID</key>
	<string>49456625906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.navigation</string>
	<key>PROJECT_ID</key>
	<string>first24062</string>
	<key>STORAGE_BUCKET</key>
	<string>first24062.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49456625906:ios:5653744f0b71562c0f386b</string>
</dict>
</plist>